<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удалить данные о продаже</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 align="center">Удалить данные о продаже</h1>
    {% if error %}
        <p style="color: red;" align="center">{{ error }}</p>
    {% endif %}
    <form method="post">
        <div class="form-section">
            <label for="date_of_sale">ID продажи:</label><br>
            <input type="number" id="sale_id" name="sale_id" required><br><br>

            <button type="submit">Удалить данные о продаже</button>
        </div>
    </form>
</body>
</html>