<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive World Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

    <div id="menu" class="menu-collapsed">
        <button id="toggle-menu" onclick="toggleMenu()">
            <span id="menu-icon" class="menu-arrow">«</span>
            <span id="menu-collapse-icon" class="menu-arrow hidden">»</span>
        </button>
        <div id="menu-content">
            <h2>Управление данными</h2>
            
            <!-- Форма поиска по машине -->
            <div class="form-section search-container">
                <input type="text" id="search-machine-id" placeholder="Номер машины">
                <button id="search-btn" onclick="searchMachineSaleInfo()">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <!-- Форма поиска по городу-->
            <div class="form-section search-container">
                <input type="text" id="search-city-name" placeholder="Название города">
                <button id="search-btn" onclick="searchCitySaleInfo()">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <div class="form-section">
                <button id="menu-btn" onclick="resetDefaultMarkers()">Сбросить поиск</button>
            </div>            

            <div class="spacer"></div> <!-- Пустой div для отступа -->
            
            <div class="form-section">
                <button id="menu-btn" onclick="addRecordForm()">Добавить данные</button>
            </div>
            <div class="form-section">
                <button id="menu-btn" onclick="deleteRecordForm()">Удалить данные</button>
            </div>
        </div>
    </div>
    
    <div id="map">{{ map|safe }}</div> 

    <!-- Подключение JS файлов -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>

</body>
</html>
